@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 23, 23, 23;
    --color-borderColor: 64, 64, 64;
    --color-cardBackground: 38, 38, 38;
    --color-textPrimary: 250, 250, 250;
    --color-textSecondary: 163, 163, 163;
    --color-buttonColor: 240, 240, 240;
    --color-buttonTextColor: 10, 10, 10;
  }

  [data-theme="light"] {
    --color-background: 245, 245, 245;
    --color-borderColor: 212, 212, 212;
    --color-cardBackground: 250, 250, 250;
    --color-textPrimary: 23, 23, 23;
    --color-textSecondary: 163, 163, 163;
    --color-buttonColor: 10, 10, 10;
    --color-buttonTextColor: 250, 250, 250;
  }
}
